name: Auto Update
on:
  schedule:
    - cron: '20 */4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      TZ: Asia/Shanghai

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - run: pip install pyyaml requests
      - run: python main.py
      - run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add merged_config.yaml cache.yaml
          git commit -m 'Auto update config' || echo "No changes to commit."
          git push

      # - name: Purge jsDelivr Cache
      #   if: success()
      #   run: |
      #     echo "Purging jsDelivr cache for merged_config.yaml..."
      #     curl -s https://purge.jsdelivr.net/gh/lkchx123/get_nodes@main/merged_config.yaml
      #     echo "Purge request sent."
